<div class="main_chat">
  <div class="header chat_head">
    <div class="room_title"><%= @room.name %></div>
    <a class="room_finish_btn btn" href="#">チャットを終了する</a>
  </div>
  <div class="chat_area">
    <%= render partial: 'message', collection: @messages %>
  </div>
  <div class="chat_foot">
    <%= form_with model: [@room, @message], html: {class: "post_form"}, local: true do |f| %>
      <div class="pos_for_middle">
        <%= f.text_field :content, class:"pos_for_text", placeholder:"type a message" %>
        <label class="pos_for_image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class:"hidden" %>
        </label>
      </div>
      <%= f.submit "送信", class:"pos_for_send" %>
    <% end %>
  </div>
</div>